@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap'); /*Police texte*/
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');/*police Dowload*/
/*url image:https://i.ibb.co/Zd7k0tg/the-sword-logo.png*/
/* url image vide:https://i.ibb.co/K7StPxZ/img-vide.png*/ 
/* url img vide redim : https://i.ibb.co/NV2VzCt/img-vide-redim.png */
/* url img team redim : https://i.ibb.co/SRh33T9/teams-redim.png */

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Mono', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /*border-block: 20px solid #383A3A;*/
    background-color: #383A3A;
}

nav h1 {
    font-family: 'Merriweather', sans-serif;
    color: #ffffff;
}
nav .onglets{
    margin-top: 3px;
    margin-left: 350px;
}
nav .onglets a{
    text-decoration: none;
    color: #ffffff;
    margin-right: 20px ;   
}

header{
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color:#383A3A;
   background-size: cover;
   color: #fff;
   padding: 70px;
}

header h4{
    text-align: centrer;
    border-bottom: 1px solid #fff;
}

header button{
    padding: 10px 20px;
    background-color: #383A3A;
    color: #fff;
    /*border: none*/;
    font-size: 15px;
    font-family: 'Rajdhani', sans-serif;
    cursor: pointer;
}

.main{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main .content .Story{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main .content .Story .left-txt{
    flex: 0 0 30%;
    padding: 20px;
}
.main .content .Story.right-img{
    flex: 0 0 70%;
}

.main .content .Story .right-img{
    height: 300px;
    width: 400px;
    margin-bottom: 40px;
}

.main2{
    background-color: #383A3A;

}

.main2 .content2 .game .titre{
    margin-top: 50px;
    text-align: center;
    color: #fff;
    font-family: 'Roboto Mono', sans-serif;
}

.main2 .content2 .game .imgt{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 350px;
}

.main2 .content2 .game .txt{
    color: #383A3A;
}


.main3{
    background-color: #383A3A;
}

.main3 .content3 .Team .margin{
    color: #383A3A;
}
 .main3 .content3 .Team .Titre{
    text-align: center;
    color: #fff;
    font-family: 'Roboto Mono', sans-serif;
 }

 .main3 .content3 .Team .imge{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 250px;
 }

 .main3 .content3 .Team .marge{
    color: #383A3A;
 }

 .main3 .content3 .Team .Prenom{
    font-size: 12px;
    color: #fff;
    font-family: 'Roboto Mono', sans-serif;
    text-align: right;
    display: flex;
    flex-direction: row;
 }

 .main3 .content3 .Team .Prenom .Cecilia{
    margin-left: 38px;
 }
 .main3 .content3 .Team .Prenom .Louise{
    margin-left: 90px;
 }
 .main3 .content3 .Team .Prenom .Jack{
    margin-left: 125px;
 }
 .main3 .content3 .Team .Prenom .Louis{
    margin-left: 125px;
 }

 .main3 .content3 .Team .pres .pcecilia{
    color: #fff;
    display: flex;
    text-align: start;
    padding-top: 10px;
    padding-left: 50px;
    font-size: 12px;
 }
 .main3 .content3 .Team .pres .plouise{
    color: #fff;
    display: flex;
    text-align: start;
    padding-left: 150px; /* initialement 100*/
    font-size: 12px;
 }
 .main3 .content3 .Team .pres .pjack{
    color: #fff;
    display: flex;
    text-align: start;
    font-size: 12px;
    padding-left: 80px;
 }
 .main3 .content3 .Team .pres .plouis{
    color: #fff;
    display: flex;
    text-align: start;
    padding-top: 10px;
    padding-right: 50px;
    padding-left: 80px;
    font-size: 12px;
 }

 .main3 .content3 .Team .pres{
    font-family: 'Roboto Mono', sans-serif;
    /*display: flex;
    flex-direction: row;*/
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 250px;
 }

 .main3 .content3 .Team .amargin{
    color: #383A3A;
 }

 .main4 .content4{
    background-color: #383A3A;
 }

 .main4 .content4 .titre{
    color: #fff;
    text-align: center;
    padding-bottom: 50px;
 }
 

 .main4 .content4 .bouttons{
    display: flex;
    flex-direction: row;
 }

 .main4 .content4 .bouttons .boutton1 button{
    margin-bottom: 50PX;
    margin-left: 250px;
    margin-right: 50px;
    padding: 10px 20px;
    background-color: #383A3A;
    color: #fff;
    /*border: none*/;
    font-size: 15px;
    font-family: 'Rajdhani', sans-serif;
    cursor: pointer;
 }

 .main4 .content4 .bouttons .boutton2 button{
    margin-bottom: 50px;
    margin-right: 50px;
    padding: 10px 20px;
    background-color: #383A3A;
    color: #fff;
    /*border: none*/;
    font-size: 15px;
    font-family: 'Rajdhani', sans-serif;
    cursor: pointer;
 }

 .main4 .content4 .bouttons .bouton3 button{
    margin-bottom: 50px;
    margin-right: 50px;
    padding: 10px 20px;
    background-color: #383A3A;
    color: #fff;
    font-size: 15px;
    font-family: 'Rajdhani', sans-serif;
    cursor: pointer;
 }
 .main4 .content4 .bouttons .bouton4 button{
    margin-bottom: 50px;
    padding: 10px 20px;
    background-color: #383A3A;
    color: #fff;
    font-size: 15px;
    font-family: 'Rajdhani', sans-serif;
    cursor: pointer;
 }

 .main5 .content5 .Titre{
    text-align: center;
 }

 .main5 .content5 .imgL1{
    /*display: flex;
    flex-direction: row;
    padding-top: 50px;*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 250px;
 }

 /*.main5 .content5 .imgL1 .img1{
    margin-left: 180px;
 }
 .main5 .content5 .imgL1 .img2{
    margin-left: 50px;
 }
 .main5 .content5 .imgL1 .img3{
    margin-left: 50px;
 }*/

 .main5 .content5 .imgL2{
    /*display: flex;
    flex-direction: row;
    padding-top: 50px;*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 250px;
 }

/*.main5 .content5 .imgL2 .img4{
    margin-left: 80px;
 }

 .main5 .content5 .imgL2 .img5{
    margin-left: 50px;
 }

 .main5 .content5 .imgL2 .img6{
    margin-left: 40px;
 }*/
 @media only screen and (max-width: 600px) {}